@import url("https://cdn.syncfusion.com/ej2/material.css");
@import "~bootstrap/scss/bootstrap";
@import "./partials/header";
@import "./partials/banner";

@import "./partials/search";
@import "./partials/cardcategory";

@import "./partials/citycard";
@import "./partials/contact";
@import "./partials/detailcard";


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

body{
   
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
