.CarouselContainer{
    background: #000 !important;
    height:100vh;
}

.Carousel__innercontainerimage{
    height: 640px;
    background-size: cover;
    filter: brightness(50%);
}

.Carousel__innercontainertext{
    position: absolute;
    top: 80px;
    font-family: 'Poppins', sans-serif;
}

.Carousel__innercontainerheader{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing:4px;
}


.Carousel__innercontainerheadername{
    font-size: 40px;
    font-weight: 800;
    line-height: 64px;
}

.Carousel__innercontainerdescription{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding: 16px;
}
.adress-text{
    color: #fff;
    margin-top: 8px;
    font-size: 14px;
}

@media screen and (min-width: 812px) {
    
    .Carousel__innercontainerimage{
        height: 640px;
        background-size: cover;
        filter: brightness(50%);

    }

    .Carousel__innercontainerheader{
      font-size: 48px;
      font-weight: 900;
      line-height: 68px;
      letter-spacing:4px;
  }
  .Carousel__innercontainerheadername{
    font-size: 80px;
    font-weight: 800;
    line-height: 108px;
  }
  
  .carousel-control-next-icon:after
  {
    font-size: 32px;
  
  }
  
  .carousel-control-prev-icon:after {
    font-size: 32px;
  
  }
  
  .Carousel__innercontainerdescription{
    font-size: 20px;
    font-weight: 00;
    line-height: 40px;
  }
    
  }
  
  

