.NavContainerHolderdesktop{
  display: none;
}
.form-control {
  width: 320px;
  margin: auto;
  margin-top: 24px;
}

.NavContainer{
  position: sticky;
  z-index: 100;
  width: 100%;
 background: #000 !important;

}
.underline--magical {
  background-image: linear-gradient(120deg, #D2B5B1 0%, #C4B0D1 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 88%;
  }
}

.NavContainer_Menutext{
  font: 500;

}

.navbarToogle span {
  height:1px;
  background-image: linear-gradient(45deg, #D2B5B1 0%, #C4B0D1 100%);
  display: block;
  border: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
 
.navbarToogle span:nth-child(1) {
  width: 100%;
  margin-bottom: 0.313rem;
}

.navbarToogle span:nth-child(2) {
  width: 100%;
  margin-bottom: 0.313rem;
  margin-left: 10%;


}
.navbarToogle span:nth-child(3) {
  width: 100%;
  margin-bottom: 0.313rem;
  margin-top: 0.313rem;
}
.navbarToogle .NavContainer_Menutext{
  font-size: 14px;
  color:   #fff;
}
.NavContainer_Link{
  font-size: 16px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
  color:   #fff;
}

.NavContainer_Link_item{
color:   #fff !important;
text-align: center;
font-family: 'roboto', sans-serif;  

}

.navbar-toggler {
  margin-top: 16px;
  line-height: 1;
  background-color: transparent; // remove default button style
  border: none; // remove default button style
  @include border-radius($navbar-toggler-border-radius);
  @include hover-focus() {
    text-decoration: none;
  }
}



// https://codepen.io/cluzier/pen/RwWbVdZ



.content-white {
  font-size: 24px;
  color: #fff;  
  display: flex;
  font-weight: 700;
}

.circ-pink {
  height: 2vmin;
  width: 2vmin;
   background-image: linear-gradient(120deg, #D2B5B1 0%, #C4B0D1 100%);
  border-radius: 100%;
  animation-name: bounce-7;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 2s;
}



@keyframes bounce-7 {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
.desktop{
  display: none;
 }

@media screen and (min-width: 812px) {
  .NavContainer{
  display: none;
  }
  .form-control {
    width: 320px;
    margin: auto;
  }
  
  .desktop{
    display: block;
   background: #000 !important;
   justify-content: space-between;
  }
  .desktop .row{
    padding-top: 16px;
  }

  .NavbarBrand{
    margin-left: 16px;
  }

}
